* {
	font-family: sans-serif;
	font-size: 15px;
}

#p3 {
	color: yellow;
}

h1 {
	font-size: 30px;
}

h2 {
	text-transform: uppercase;
}

ol.lang li {
	background-color: green;
}

ol[type=a] li {
	border-style: solid;
	border-width: 1px;
}

ul > li {
	letter-spacing: 3px;
}

section + ul {
	list-style: none;
}

li img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

section ~ p {
	text-align: center;}